:root {
  --white: 255 255 255;
  --light-gray: 244 244 244;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(var(--light-gray));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex { display: flex }
.sidebar { width: 25vw }
.element { width: calc(75vw - 30px) }

.MuiButton-root {
  width: 100% !important;
  min-width: 50px !important;
  text-transform: none !important;
}

.table {
  display: flex;
  justify-content: space-between;
}
.hidden { visibility: hidden; }
.p-5 { padding: 5px !important; }
.mt-20 { margin-top: 20px; }